/* Typography */

@font-face {
    font-family: "titlefont";
    src: url(../fonts/curseofthezombie.ttf);
}

@font-face {
    font-family: "bodyfont";
    src: url(../fonts/doublefeature20.ttf);
}

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-image: url("../img/stonewall.png");
    background-repeat: repeat;
}

h1 {
    font-family: "titlefont";
    text-align: center;
    font-size: 6em;
    letter-spacing: 8px;
    line-height: 1.3em;
    color: red;
    text-shadow: 5px 5px 15px #000000
}

h2 {
    font-family: "bodyfont";
    font-size: 1.4em;
    line-height: 1em;
    letter-spacing: 3px;
    color: black;
}

h3 {
    font-family: "bodyfont";
    font-size: 2.2em;
    line-height: 1.5em;
    letter-spacing: 4px;
    color: red;
    text-align: center;
}

h4 {
    font-family: "titlefont";
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 2px;
    color: red;
    text-shadow: 3px 3px 4px #000000;
}

p {
    color: white;
}

html {
    overflow: auto;
}

.titleBox {
    width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}


/* Form */

input[type=text] {
    width: 300px;
    height: 30px;
    border: 3px solid #ff0000;
    border-radius: 4px;
    padding-left: 15px;
    background-color: #ff0000;
}

/* Building */

.wall {
    width: 1045px;
    height: 840px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/parchment.png");
    background-repeat: no-repeat;
}

.room {
    width: 660px;
    height: 500px;
    position: absolute;
    padding: 30px;
    left: 150px;
    top: 90px;
}

#room1Back {
    width: 1300px;
    height: 1010px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/gate2.png");
    background-repeat: no-repeat;
}

#hands {
    width: 300px;
    height: 346px;
    position: absolute;
    z-index: 1;
    left: 340px;
    top: 580px;
    background-image: url(../img/hands.png);
    background-repeat: no-repeat;
}

#enterButton {
    width: 280px;
    height: 200px;
    position: absolute;
    z-index: 1;
    left: auto;
    top: 40px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modalContent {
    margin: auto;
    width: 500px;
    height: 400px;
    box-shadow: 10px 10px 15px #000000;
}

.closeButton1a, .closeButton1b, .closeButton1c, .closeButton1d, .closeButton1e {
    cursor: pointer;
}

.answerButton {
    cursor: pointer;
}

#startButton {
    cursor: pointer;
    width: 200px;
    height: 50px;
}


/* Room1 */

#room1 {
    width: 800px;
    height: 500px;
    position: absolute;
    left: 260px;
    top: 150px;
}

#modalContent1a {
    background-color: #006633;
}

#modalContent1b {
    background-color: #f4d742;
}

#modalContent1c {
    background-color: #b42f42;
}

#modalContent1d {
    background-color: #eb42f4;
}

#modalContent1e {
    background-color: #dd4200;
}


/* Room2 */

#room2 {
    background-color: green;
}


/* Room3 */

#room3 {
    background-color: yellow;
}
